.tag {
  border-radius: 10px;
  display: inline-block;
  background-color: lightgreen;
  padding: 5px 10px 5px 10px;
  outline: 0;
  margin: 5px;
  transition-duration: 100ms;
  border: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.tag.press {
  background-color: #846C5B;
  color: white
}

.tag.press:active {
  background-color: grey;
}

.tag.press: {
  background-color: red;
}

.tag.keyword {
  background-color: #EDD9A3;
}

.tag:hover {
  color: black;
  background-color: white;
}

.tag.filtered {
  background-color: lightslategray;
}

.tag.filtered:hover {
  background-color: lightgrey;
}
